.cinema{
    display: flex;
    justify-content:center;
    font-size:20px;
    font-style: italic;
}
.look{
    display: flex;
    justify-content:space-evenly;
}
.mirror{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.episode{
    font-size: 20px;
    color: black;
}
.episode:hover{
    background-color: #61c0bf;
    text-transform:uppercase;
}
body{
    background-color: #ffc7c7;
}
body:hover{
    background-color:#a8d8ea ;
}
.tv{
    font-size:30px;
    font-style: italic;
}
.tv:hover{
    color: #11999e;
    text-transform: uppercase;

}
img:hover{
    border-radius: 50%;
}

@media all and (max-width:800px){
    body{
        background-color:#ff75a0;
    }
    .look{
        display:flex;
        flex-direction:column;
    }
    .photo{
        align-self: center;
        width:550px;
    }
    .episode{
        align-self: baseline;
        font-size: 40px;
    }
    .cinema{
        display:flex;
        flex-direction: column;
    }
    .tv{
        align-self: center;
        font-size:50px;
        text-transform: uppercase;
    }

}

@media all and (max-width:500px) {
    body{
        background-color:#b8b5ff;   
    }
    .look{
        display:flex;
        flex-direction: column;
    }
    .photo{
        width:300px;
    }
    .episode{
        align-self: baseline;
        font-size: 20px;
    }
    .cinema{
        display:flex;
        flex-direction: column;
    }  
    .tv{
        font-size: 20px;   
    }
}

